datadir="/var/lib/proxysql"

admin_variables =
{
  admin_credentials="admin:admin;cluster1:secret1pass"
  mysql_ifaces="0.0.0.0:6032"
  web_enabled=true
  cluster_username="cluster1"
  cluster_password="secret1pass"
  cluster_check_interval_ms=10
  cluster_check_status_frequency=100
}

proxysql_servers =
(
    {
        hostname="proxysql"
        port=6032
        weight=0
        comment="discovery"
    }
)